<h1 class="current-marca"><%= params[:marca] %></h1>
<% if @aires.count == 0 %>
  <h3>No existen aires de esta marca</h3>
<% else %>
  <% @aires.each do |aire| %>
    <h2><%= link_to aire.modelo_conjunto, aire_path(aire) %></h2>
    <% end %>
<% end %>
